#header {
    position: fixed;
    width: 100%;
    height: 2.5em;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    color: white;
    background-color: #443266;
    margin: 0;
    padding: 0.5em;
    text-align: center;
}

#header h1 {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
}    

#header h2 {
    font-size: 1.2em;
}    

#sidebar {
    position: fixed;
    width: 10em;
    height: auto;
    top: 2.5em;
    right: auto;
    bottom: 1.5em;
    left: 0;
    background-color: #C3C3E5;
    padding: 8px;
}

#sidebar ul {
    margin-left: auto;
    margin-right: auto;
    border: dotted 1px;
    width: 9em;
    float: right;
}

#sidebar img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

#main {
    position: fixed;
    width: auto;
    height: auto;
    top: 2.5em;
    right: 0;
    bottom: 1.5em;
    left: 10em;
    background-color: #F1F0FF;
    overflow: auto;
    padding: 8px;
}

#milestone {
    padding: 8px 0;
    line-height: 1;
    font-size: 3em;
}

#lost_block {
    border-top: solid 2px #E68CF0;
    font-size: 2em;
}

#footer {
    position: fixed;
    width: 100%;
    height: 1.5em;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #8C489F;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#footer h1 {
    font-size: 1em;
    margin: 0;
    padding: 0;
    display: inline;
}

#footer p {
    display:inline;
}

table, th, td {
    border: 1px solid #666;
}

table {
    border-collapse: collapse;
    border: none;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

th {
    padding: 5px 10px;
    font-size: 90%;
    text-transform: uppercase;
    text-align: left;
    color: #333
}
    
td {
    padding: 0 10px;
}

tr.monday {
    background-color: #bac;
}

caption {
    padding: 10px 0;
    text-align: left;
    text-transform: uppercase;
    font-size: 120%;
}
