<fieldset>
  <legend>Please Log In</legend>
  <% form_tag do %>
  <p>
    <label for="email">Email:</label>
    <%= text_field_tag :email, params[:email] %>
  </p>
  <p>
    <%= submit_tag "Login" %>
  </p>
  <% end %>
</fieldset>
